// Define variables for your color scheme

// For example:
$red: #dc0a17;
$blue: #0D6EFD;
$yellow: #FFB612;
$orange: #E67E22;
$green: #2FC022;
$gray: #0E0000;
$light-gray: #808080;
$dark-gray: #333333;
$light-text: #e5e5e5;
$medium-text: #939393;
