// Specific CSS for your home-page
text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
}

text-container h1 {
  font-size: 34px;
  color: $dark-gray;
}

text-container p {
  color: $light-gray;
}

text-container .heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 24px;
  gap: 14px;
}

text-container .heading .heading-border {
  height: 12px;
  width: 40%;
  background-color: $dark-gray;
}
