<footer class="bg-black text-center text-white">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">
          <%= image_tag "logo.svg" %>
        </a>
      </div>
    </nav>
    <div class="container p-4">
      <p>Todos os direitos reservados - 2020</p>
    </div>
  </div>
</footer>
