.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  max-width: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
  gap: 8px;
  width: 100%;
  height: 400px;
}

.cards .card .hr {
  height: 20px;
  width: 100%;
  background-color: #d7d7d7;
}

.card span {
  font-weight: 700;
  font-size: 14px;
}

.card .span.opened {
  color: $green;
}

.card .span.closed {
  color: $red;
}

.card h3 {
  color: $dark-gray;
  font-size: 24px;
  font-weight: bold;
}

.card p {
  color: $light-gray;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.card .weekdays {
  display: flex;
  flex-direction: column;

  color: $dark-gray;
  font-weight: 500;
  font-size: 12px;
}

.cards .card .ul .weekdays{
  font-size: 16px;
  color: $dark-gray;
}

.card img {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
