.form {
  width: 80%;
  margin: auto;
  border: 2px solid lightgray;
  padding: 20px;
  border-radius: 10px;

  .form_with {
    .fields_for {
      div {
        margin-bottom: 1em;
        border: 4px solid rgb(155, 152, 152);
        border-radius: 18px;
        padding: 24px;
        color: grey;

        .icon-hour,
        .hour {
          float: left;
          clear: both;
        }

        h3 {
          clear: both;
        }

        .checkbox {
          float: left;

          span {
            float: right;
          }
        }
      }
    }

    .btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 1em;

      .btn {
        font-size: 18px;
        border-radius: 4px;
        color: rgb(88, 88, 88);
        font-weight: 700;
        text-transform: uppercase;
        padding: 14px;
        width: 100%;
        border: none;
        cursor: pointer;
      }

      .btn-primary {
        background-color: #FFB612;
      }

      .btn-secondary {
        background-color: transparent;
        border: 2px solid rgb(155, 152, 152);
      }
    }

    @media (min-width: 768px) {
      .fields_for {
        div {
          margin-bottom: 2em;
        }
      }

      .btn-wrapper {
        .btn {
          width: 25%;
        }
      }
    }
  }
}
