.navbar-wrapper {
  background: black;
  padding: 24px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  flex-grow: 0;
}

.navbar img {
  height: 100px;
}
