.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
}

.text-container h1 {
  font-size: 34px;
  color: #333333;
}

.text-container p {
  color: #808080;
}

.text-container .text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 24px;
  gap: 14px;
}

.text-container .text .text-border {
  height: 20px;
  width: 100%;
  background-color: #333333;
}
